* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Início Header */

.nav {
  background-color: #181818;
  height: 80px;
  width: 100%;
  display: flex;

  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 28px;
}

.nav-list a {
  text-decoration: none;
  color: #ddd;
  padding: 20px;
}

.nav-list a:hover {
  color: #fff;
}

/* Início Main*/

.main {
  width: 100%;
  background-color: #000;
  height: calc(100vh - 80px);
  background-image: url("images/programador.png");
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1 {
  color: #fff;
  font-size: 54px;
}

.main p {
  font-size: 24px;
  font-style: italic;
  color: #1e96fc;
  margin-top: 10px;
  margin-bottom: 35px;
}

.call-to-action {
  cursor: pointer;
  background-color: #fff;
  border: 0;
  padding: 14px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.7s;
}

.call-to-action:hover {
  transform: scale(1.1);
}

.main a {
  text-decoration: none;
  color: #181818;
}

.about {
  display: flex;
  width: 100%;

  background-color: #ffffff;
  padding: 80px 10% 80px 10%;

  align-items: center;
  justify-content: space-between;
}

.about div {
  max-width: 50%;
  padding-right: 40px;
}

.about img {
  max-width: 450px;
  border-radius: 8px;
}

.about div h2 {
  font-size: 32px;
  margin-bottom: 14px;
}